.logo {
  text-align: center;
}

.title {
  font-family: 'jedi-outline';
  font-size: 6.4rem;
  color: #ffee58;
}

.subtitle {
  font-family: 'jedi-subtitle';
  letter-spacing: 0.9rem;
  font-size: 1.2rem;
  color: white;
  margin-top: -1.2rem;
  margin-bottom: -2.4rem;
}
