.title {
  font-family: 'jedi-outline';
  font-size: 4rem;
  color: #ffee58;
  text-align: center;
  margin-top: 4rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  gap: 1.6rem 3.5rem;
  padding: 3rem 20rem;

  li {
    position: relative;
  }
}
