.flexContainer {
  display: flex;
}

.description {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 14%), 0 2px 2px 0 rgb(0 0 0 / 10%),
    0 1px 5px 0 rgb(0 0 0 / 8%);

  padding: 4rem;

  line-height: 2;

  h3 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 4rem 0;
}

.gridItem {
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 14%), 0 2px 2px 0 rgb(0 0 0 / 10%),
    0 1px 5px 0 rgb(0 0 0 / 8%);

  ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 1.5rem;
    padding-bottom: 2rem;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      font-size: 1.4rem;
    }

    img {
      border-radius: 50% !important;
    }
  }

  h4 {
    text-align: center;
    font-size: 2.4rem;
    padding: 2rem 0;
  }
}
