*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'biko', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'jedi';
  src: url('/fonts/Starjedi.ttf');
}

@font-face {
  font-family: 'jedi-outline';
  src: url('/fonts/Starjhol.ttf');
}

@font-face {
  font-family: 'jedi-subtitle';
  src: url('/fonts/Typo Grotesk Demo.otf');
}

@font-face {
  font-family: 'biko';
  src: url('/fonts/Biko_Regular.otf');
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}
